/*menutop_edit.phpのcssコード*/

/*タブ切り替え全体のスタイル*/
.tabs {
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*タブのスタイル*/
.tab_item {
  width: 250px;
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  height: 540px;
  display: none;
  padding: 0 40px;
  clear: both;
  overflow: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;
}
.tab_content::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}


/*選択されているタブのコンテンツのみを表示*/

/*#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}*/

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}



body{
  background:#eeeeee;
}

table{
  border-collapse: separate;
  border-spacing: 30px 30px;
  table-layout: fixed;
}
td{
  width: 130px;
}

input[type="text"],input[type="int"]{
  width: 300px;
  height: 50px;
  font-size: 20pt;
}

.mode_select{
  width: 1500px;
}

input[type="submit"]{ 
  width: 170px;
  height:100px;
  font-size: 60px;
  margin: 30px 50px;
  float: left;
  text-decoration: none;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.end_submit{
  color: #FFF;
  margin-right:20px;
  background: #668AD8;
}
.delete_submit{
  color: #FFF;
  background: #FF0461;
}
.add_submit{
  color: #000;
  background: #FFFF00;
}
.edit_submit{
  color: #FFF;
  background: #66CC00;
}

h1{
  text-align: center;
  font-size:5vw;
  color: #0066FF;
}